{% extends "nav.html" %}

{% block title %}Profile{% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <form class="w-25" style="min-width: 400px; min-height: 500px" method="POST">
            <div hx-post="/from/validation" hx-trigger="change" hx-target="#submitButton">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <h1 class="mb-3">Profile</h1>
                <div class="form-floating mb-3" id="usernameError">
                    <input type="text" class="form-control" id="floatingUserInput" placeholder="name@example.com"
                           name="username"
                           hx-get="/username/validation" hx-target="#usernameError" hx-swap="innerHTML"
                           hx-trigger="keyup changed delay:0.5s" value="{{ user.username }}" disabled>
                    <label for="floatingUserInput">Username</label>
                </div>

                <div class="form-floating mb-3" id="emailError">
                    <input type="email" class="form-control" id="floatingEmailInput" placeholder="name@example.com"
                           name="email"
                           hx-get="/email/validation" hx-target="#emailError" hx-swap="innerHTML"
                           hx-trigger="keyup changed delay:0.5s" value="{{ user.email }}" disabled>
                    <label for="floatingEmailInput">Email address</label>
                </div>

                <div class="row mb-2">
                    <div class="col d-flex justify-content-end" id="submitButton">
                        <button type="button" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-primary btn-block mb-4"> Logout
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div></div>
{% endblock %}