{% extends "base_nav_and_footer.html" %}

{% block title %}Profile{% endblock %}
{% block body %}
    <div class="d-flex align-items-center justify-content-center flex-wrap" style="height: 100vh;">
        <div class="d-flex align-items-start">
            <form class="w-25" style="min-width: 400px;" method="POST">
                <div hx-post="/from/validation" hx-trigger="change" hx-target="#submitButton">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <h1 class="mb-3">Profile</h1>
                    <div class="form-floating mb-3" id="usernameError">
                        <input type="text" class="form-control" id="floatingUserInput" placeholder="name@example.com"
                               name="username"
                               hx-get="/username/validation" hx-target="#usernameError" hx-swap="innerHTML"
                               hx-trigger="keyup changed delay:0.5s" value="{{ user.username }}" disabled>
                        <label for="floatingUserInput">Username</label>
                    </div>

                    <div class="form-floating mb-3" id="emailError">
                        <input type="email" class="form-control" id="floatingEmailInput" placeholder="name@example.com"
                               name="email"
                               hx-get="/email/validation" hx-target="#emailError" hx-swap="innerHTML"
                               hx-trigger="keyup changed delay:0.5s" value="{{ user.email }}" disabled>
                        <label for="floatingEmailInput">Email address</label>
                    </div>

                    <div class="row mb-2">
                        <div class="col d-flex justify-content-end">
                            <button type="button" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-primary btn-block mb-4"
                                    onclick="window.location.href='{{ url_for('logout') }}'"> Logout
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-flex align-items-start">
            <form method="POST" class="w-25 ms-4" style="min-width: 450px;">
                <h1 class="mb-3">Personal information</h1>
                {% include 'user/personal_info.html' %}
                <button type="submit" class="btn btn-primary mb-4" data-mdb-button-init data-mdb-ripple-init>Save changes</button>
            </form>
        </div>
    </div>
    <div></div>
{% endblock %}