{% extends "base_nav_and_footer.html" %}


{% block body %}
    <div class=" d-flex flex-column flex-wrap">
        <div class="dog-background d-flex flex-row flex-wrap justify-content-sm-center justify-content-md-center justify-content-between">
            <div class="dog-container d-flex flex-column">
                <h1 class="hh1">They need your care!</h1>
                <h2 class="hh2">Take the tailed one into the family</h2>
                <div class="btns">
                    <div class="btn-div">
                        <a href="{{ url_for('questionnaire') }}">
                            <button type="button" class="adopt-animal mb-3">Adopt an animal
                            </button>
                        </a>
                    </div>
                    <div class="btn-div">
                        <a href="{{ url_for('giveshelter') }}">
                            <button type="button" href="{{ url_for('giveshelter') }}"
                                    class="help-shelter">
                                Give a shelter
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="dog">
                <img class="w-100" src="{{ url_for('static', filename='images/index/dog1.png') }}" alt="...">
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-center justify-content-lg-between mt-5">
            <div class="info-container">
                <h1>About us</h1>
                <h2>PetsHelp is a project whose idea is to help homeless animals, treat them, rehabilitate them,
                    and
                    place them in a family. Our goal is for every animal to have a loving owner. We strive for
                    the
                    shelter to be a temporary shelter for animals, and not their permanent home.</h2>
            </div>
            <div class="image-container">
                <img class="w-100 img-right" src="{{ url_for('static', filename='images/index/pet2.jfif') }}" alt="...">
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-center justify-content-lg-between mt-5">
            <div class="image-container">
                <img class="w-100 img-left" src="{{ url_for('static', filename='images/index/dog2.jfif') }}" alt="...">
            </div>
            <div class="info-container">
                <h1 style="text-align: center">You can take an animal from a shelter, or adopt an animal if you
                    found it
                    on the street.</h1>
                <div class="btns-info">
                    <div class="d-flex justify-content-center">
                        <a href="{{ url_for('questionnaire') }}">
                            <button type="button" class="adopt-animal mb-3">Take the animal
                            </button>
                        </a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="{{ url_for('giveshelter') }}">
                            <button type="button" class="help-shelter mb-3"> Arrange the animal
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-wrap justify-content-center text-center mt-5 mb-5">
            <h1>How to help</h1>
            <div class="d-flex flex-row flex-wrap justify-content-center justify-content-lg-between">
                <div class="mt-5">
                    <div style="width: 320px; height: 320px">
                        <img class="w-100"
                             src="{{ url_for('static', filename='images/index/Take_an_animal.png') }}"
                             alt="..." style="object-fit: cover;">
                    </div>
                    <h2>Help financially</h2>
                </div>

                <div class="mt-5">
                    <div style="width: 320px; height: 320px">
                        <img class="w-100"
                             src="{{ url_for('static', filename='images/index/Help_financially.png') }}"
                             alt="..." style="object-fit: cover;">
                    </div>
                    <h2>Take an animal into the family</h2>
                </div>
                <div class="mt-5">
                    <div style="width: 320px; height: 320px">
                        <img class="w-100"
                             src="{{ url_for('static', filename='images/index/Become_a_volunteer.png') }}"
                             alt="..." style="object-fit: cover;">
                    </div>
                    <h2>Become a volunteer</h2>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
