{% extends "base.html" %}

{% block title %}Register{% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <form class="w-25" style="min-width: 400px; min-height: 500px">

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingEmailInput" placeholder="name@example.com">
                <label for="floatingEmailInput">Email address</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword2" placeholder="Password">
                <label for="floatingPassword2">Repeat password</label>
            </div>

            <div class="row mb-2">
                <div class="col d-flex justify-content-start align-content-center ms-1">
                    <p>Have account? <a href="{{ url_for('login') }}">Login</a></p>
                </div>
                <div class="col d-flex justify-content-end">
                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                            class="btn btn-primary btn-block mb-4">Register
                    </button>
                </div>

            </div>
        </form>
    </div>

{% endblock %}