.card.selected {
    border: 2px solid #004B22;
}

.card-input-element {
    display: none;
}


@media (max-width: 767px) {
    .dog-background {
        background-image: url("../images/index/dog1.jpg");
        background-size: cover;
        height: auto;
    }

    .dog {
        display: none;
        visibility: hidden;
    }

    .hh1 {
        color: white;
        font-size: 50px;
    }

    .hh2 {
        color: white;
        font-size: 30px;
    }

    .btns {

    }

    .adopt-animal {
        width: 180px;
        height: 40px;
        background-color: #004B22;
        border: none;
        border-radius: 20px;
        font-size: 20px;
    }

    .help-shelter {
        width: 180px;
        height: 40px;
        border-color: #004B22;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0);
        font-size: 20px;
    }

    .dog-container {
        margin-top: 200px;
        width: 350px;
        min-width: 350px
    }

    .info-container {
        min-width: 350px;
        max-width: 560px
    }

    .image-container {
        min-width: 350px;
        max-width: 560px
    }
}


@media (min-width: 768px) and (max-width: 1281px) {

}


@media (min-width: 1281px) {
    .dog {
        min-width: 400px;
        width: 700px
    }

    .dog-container {
        margin-top: 200px;
        width: 500px;
        min-width: 350px
    }

     .adopt-animal {
        width: 250px;
        height: 60px;
        background-color: #004B22;
        border: none;
        border-radius: 15px;
        font-size: 20px;
    }

    .help-shelter {
        width: 250px;
        height: 60px;
        border-color: #004B22;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0);
        font-size: 20px;
    }

    .info-container {
        min-width: 350px;
        width: 700px
    }

    .image-container {
        min-width: 350px;
        width: 560px
    }
}

.pagination .page-link {
    color: #198754;
}

.pagination .active .page-link {
    background-color: #198754;
    border-color: #198754;
    color: white;
}

.pagination .page-link:hover {
    color: #004B22;
}

input[type="range"]::-webkit-slider-thumb {

    background: #198754;
}

input[type="range"]::-moz-range-thumb {
    background: #198754;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 128, 0, 0.5);
    border-color: #008000;
}

.form-select:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 128, 0, 0.5);
    border-color: #008000;
}