.card.selected {
    border: 2px solid #004B22;
}

.adopt-animal {
    width: 400px;
    height: 80px;
    background-color: #004B22;
    border: none;
    border-radius: 20px;
}

.help-shelter {
     width: 400px;
    height: 80px;
    border-color: #004B22;
    border-radius: 20px;
    background-color: #ffffff;
}

.card-input-element {
            display: none;
        }
        .card-input-element:checked + .card {
            border: 2px solid #004B22;
            background-color: #ade6ae;
        }

.adopt-animal-btns {
    width: 200px;
    height: 80px;
    background-color: #004B22;
    border: none;
    border-radius: 20px;
}