{% extends "nav.html" %}

{% block title %}Questionnaire{% endblock %}
{% block body %}

    <div class="d-flex row justify-content-center justify-content-xl-between mt-5" style="height: 100vh;">
        <div class="w-25" style="min-width: 450px;">
            <h1>Questionnaire</h1>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Write your full name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1"
                       placeholder="Taras Hryhorovych Shevchenko">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Tell about yourself</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="row">
                <div class="col">
                    <label for="datepicker" class="form-label">Select your date of birth</label>
                    <input id="datepicker" width="200"/>
                    <script>
                        $('#datepicker').datepicker({
                            uiLibrary: 'bootstrap5'
                        });
                    </script>
                </div>
                <div class="col">
                    <p class="mb-2">Write your phone number</p>
                    <div class="input-group mb-3" style="width: 200px">
                        <span class="input-group-text" id="basic-addon1">+38</span>
                        <input type="text" class="form-control" id="phoneNumber" placeholder="(999) 999-9999"
                               aria-label="Phone"
                               aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div>
                <form id="petFilter" hx-post="/form/filter" hx-target="#petFilter" hx-swap="innerHTML"
                      hx-trigger="change">
                    <div hx-post="/cards/pets" hx-target="#pets" hx-swap="innerHTML" hx-trigger="change">
                        <h4 class="mb-3">Pet filter</h4>
                        <div class="row mb-3">
                            <div class="col">
                                <select class="form-select" id="species" name="species" aria-label="Species">
                                    <option selected>All species</option>
                                    {% for specie in species %}
                                        <option value="{{ specie.name }}">{{ specie.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select" id="breeds" name="breeds"
                                        aria-label="Default select example">
                                    <option selected>All breeds</option>
                                    {% for pet in pets %}
                                        <option value="{{ pet.breed }}">{{ pet.breed }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <select class="form-select" id="sizes" name="sizes"
                                        aria-label="Default select example">
                                    <option selected>All sizes</option>
                                    {% for size in sizes %}
                                        <option value="{{ size.value }}">{{ size.value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select" id="genders" name="genders"
                                        aria-label="Genders">
                                    <option selected>All genders</option>
                                    {% for gender in genders %}
                                        <option value="{{ gender.value }}">{{ gender.value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <select class="form-select" id="ages" name="ages" aria-label="Ages">
                                    <option selected>All ages</option>
                                    {% for age in ages.keys() %}
                                        <option value="{{ age }}">{{ age }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select" id="sterilized" name="sterilized"
                                        aria-label="Sterilized">
                                    <option selected>Sterilized?</option>
                                    {% for value in sterilized.keys() %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div style="min-width: 500px; width: 700px">
            <div class="w-100 d-flex flex-wrap">
                <div class="w-100 d-flex justify-content-center"><h4>You can select your pet here</h4></div>
                <div id="pets" class="d-flex flex-wrap justify-content-center">
                    {% for pet in pets %}
                        <div class="card m-2" style="width: 200px; height: 250px">
                            <img src="{{ url_for('static', filename='images/pets/dog.png') }}"
                                 class="card-img-top h-75"
                                 alt="...">
                            <div class="card-body mx-auto h-25">
                                <h4 class="card-text">{{ pet.name }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <nav class="m-auto" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>

                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>

                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#phoneNumber").inputmask("(999) 999-9999");  // Applying the mask
        });
    </script>
{% endblock %}