{% extends "nav.html" %}

{% block title %}Thank you{% endblock %}
{% block body %}
    <div class="d-flex justify-content-center align-content-center mt-5">
        <div class="card text-center" style="height: 180px">
            <div class="card-body">
                <h2 class="card-title">Thank you for adopting the pet!!!</h2>
                <p class="card-text">We will call you coon :3</p>
                <a href="{{ url_for('mainpage') }}" class="btn btn-primary">Go main page</a>
            </div>
        </div>
    </div>
{% endblock %}